<html>
<head>

<title>Chatr</title>
<link rel="shortcut icon" type="/image/png" href="/images/logo.png"/>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900' rel='stylesheet' type='text/css'>
<link href="/css/animate.css" rel="stylesheet" type="text/css">
<link href='/css/standard.css' rel='stylesheet' type='text/css'>
<link href="/css/index.css" rel="stylesheet" media="screen" type="text/css">
<link href="/css/photoUpload.css" rel="stylesheet" media="screen" type="text/css">
</head>
<body>


<div id="wrapper" class='absoluteCenter'>

    <div id='chatContainer' class='absoluteCenter'>

        <div id='loginScreen' style="display: <%= guest ? 'block' : 'none' %>">
            <div id='login_title'>
                <div style='float:left;'>Chatr</div>
                <div id='logo'></div>
            </div>
            <div id='login_subtitle'>
                Join the Coolest Chatroom - Meet people, <br> hang out, have fun.
            </div>
            <input type='text' id='username' class='login_input' placeholder='Username' autofocus>
            <input type='password' id='password' class='login_input' placeholder='Password'>
            <input type='button' id='loginButton' class='login_input' value='Login'>
            <input type='button' id='joinButton' class='login_input' value='Join'>
            <div id='misc'>
                <span id='register'>Register</span> &nbsp;|&nbsp; <span id='takeALook'>Take a look</span>
            </div>
        </div>



        <!----------------------------- profile screen (tab's sub-section) ---------------------------->
        <div id='profileScreen' class='tabScreen'>
            <div class='screen_top'>
                <div class='screen_top_text_container'>
                    <div class='screen_top_text slidable'>My Profile</div>
                </div>
                <div id='profile_edit' class='top_right_text'></div>
            </div>
            <div class='screen_body scrollable'>
                <div class='section'>
                    <div class='option' data-field='profile_pic'>
                        <div class='option_name'>Photo</div>
                        <div class='option_value'>
                            <div id='option_pic_preview' class='center-cropped' style='background-image: url(/images/people/1.jpg)'></div>
                        </div>
                        <div id='option_pic'>Change Photo</div>
                    </div>
                    <div class='option' data-field='name'>
                        <div class='option_name'>Name</div>
                        <div class='option_value'>
                            <input class='edit_field' placeholder='or nickname'/>
                            <div class='edit_save edit_button'>Save</div>
                            <div class='edit_cancel edit_button'>Cancel</div>
                        </div>
                        <div class='option_edit' class='center-cropped'></div>
                    </div>
                    <div class='option' data-field='status'>
                        <div class='option_name'>Status</div>
                        <div class='option_value'>
                            <textarea class='edit_field' placeholder="what's popin' dawg"></textarea>
                            <div class='edit_save edit_button'>Save</div>
                            <div class='edit_cancel edit_button'>Cancel</div>
                        </div>
                        <div class='option_edit' class='center-cropped'></div>
                    </div>
                </div>
                <div class='section'>
                    <div class='option' data-field='school'>
                        <div class='option_name'>School</div>
                        <div class='option_value'>
                            <input class='edit_field' placeholder='l33t sk00l'/>
                            <div class='edit_save edit_button'>Save</div>
                            <div class='edit_cancel edit_button'>Cancel</div>
                        </div>
                        <div class='option_edit' class='center-cropped'></div>
                    </div>
                    <div class='option' data-field='major'>
                        <div class='option_name'>Major</div>
                        <div class='option_value'>
                            <input class='edit_field' placeholder='lol'/>
                            <div class='edit_save edit_button'>Save</div>
                            <div class='edit_cancel edit_button'>Cancel</div>
                        </div>
                        <div class='option_edit' class='center-cropped'></div>
                    </div>
                    <div class='option' data-field='interest'>
                        <div class='option_name'>Interest</div>
                        <div class='option_value'>
                            <textarea class='edit_field' placeholder='2%'></textarea>
                            <div class='edit_save edit_button'>Save</div>
                            <div class='edit_cancel edit_button'>Cancel</div>
                        </div>
                        <div class='option_edit' class='center-cropped'></div>
                    </div>
                    <div class='option' data-field='about_me'>
                        <div class='option_name'>About me</div>
                        <div class='option_value'>
                            <textarea class='edit_field' placeholder='tell me anything'></textarea>
                            <div class='edit_save edit_button'>Save</div>
                            <div class='edit_cancel edit_button'>Cancel</div>
                        </div>
                        <div class='option_edit' class='center-cropped'></div>
                    </div>
                </div>

                <div class='section'>
                    <a href='/logout'><div id='logout' class='option'>Log out</div></a>
                </div>
            </div>

        </div>


        <!----------------------------- room screen (tab's sub-section) ---------------------------->
        <div id='roomScreen' class='tabScreen' style="">
            <div class='screen_top'>
                <div class='screen_top_text_container'>
                    <div class='screen_top_text slidable'>Choose a room</div>
                </div>
                <div id='create_room_button' style='background-image: url(/images/add.png)' class='top_right_pic center-cropped'></div>
            </div>

            <div id='room_body' class='screen_body'>
                <div class='search_container'>
                    <input type='text' class='search_box absoluteCenter' placeholder='search' />
                </div>

                <div id='room_list' class='scrollable'>

                    <!----------------- Room list template -----------------
                    <div class='room_container' data-room='math' data-count='5'>
                        <div class='room_online_count'>5 online</div>
                        <div class='room_pic center-cropped' style='background-image: url("/images/subject/mathematics.png")'></div>
                        <div class='room_content'>
                            <div class='room_name slidable'>Mathematics</div>
                            <div class='room_desc slidable'>joe: merry chrismadsf asdf adsf asdf sdf asdf asdf as guys xd</div>
                        </div>
                    </div> -->

                </div>
            </div>
        </div>

        <!------------------------------------- tab ------------------------------------>
        <div id='tab' class='tab' style="display: <%= !guest ? 'block' : 'none' %>">
            <div id='tab_profile' data-type='inative' data-page='profile' class='tab_option'>
                <div class='tab_option_pic' style='background-image: url("/images/bottom/profile.png")'></div>
                <div class='tab_option_text'>Me</div>
            </div>
            <div id='tab_room' data-type='active' data-page='room' class='tab_option'>
                <div class='tab_option_pic' style='background-image: url("/images/bottom/room.png")'></div>
                <div class='tab_option_text'>Rooms</div>
            </div>
            <div id='tab_message' data-type='inactive' data-page='message' class='tab_option'>
                <div class='tab_option_pic' style='background-image: url("/images/bottom/message.png")'></div>
                <div class='tab_option_text'>Messages</div>
            </div>
        </div>


        <!------------------------------------- profile preview ------------------------------------>
        <div id='profilePreviewScreen'>
            <div id='profilePreviewContainer' class='scrollable'>
                <div id='briefProfile'>
                    <div id='profileBack' class='goBack'></div>
                    <div id='profilePic' class='center-cropped'></div>
                    <div id='profileUsername'>Jack Black</div>
                    <div id='profileStatus'>A good friend will help you move, a best friend will help you move a dead body.</div>
                </div>
                <div id='profileDetail'>
                    <div id='profile_name' class='profileOption'>
                        <div class='P_option_label'>name</div>
                        <div class='P_option_value'>Kevin Zhang</div>
                    </div>
                    <div id='profile_school' class='profileOption'>
                        <div class='P_option_label'>School</div>
                        <div class='P_option_value'>McGill University</div>
                    </div>
                    <div id='profile_major' class='profileOption'>
                        <div class='P_option_label'>Major</div>
                        <div class='P_option_value'>Art and Philosophy</div>
                    </div>
                    <div id='profile_interestedIn' class='profileOption'>
                        <div class='P_option_label'>Interests</div>
                        <div class='P_option_value'>You</div>
                    </div>
                    <div id='profile_aboutMe' class='profileOption'>
                        <div class='P_option_label'>About me</div>
                        <div class='P_option_value'>Everyday normal guy.</div>
                    </div>
                </div>
            </div>
            <div id='profileChat'>
                <div id='profileChat_button'>
                    <div id='profileChat_image'></div>
                    <div id='profileChat_text'>Chat</div>
                </div>
            </div>
        </div>




        <!-------------------------------- chat screen (group chat) -------------------------------->
        <div id='roomChatScreen' class='chatScreen' style=''>
            <div class='screen_top'>
                <div class='goBack'></div>
                <div class='screen_top_text_container'>
                    <div class='screen_top_text slidable'>Psychology - 34 People Online</div>
                </div>
                <!--<div id='chat_title_profile' style='background-image: url(/images/profile.png)' class='top_right_pic center-cropped'></div>-->
           </div>
            <div class='chat_log scrollable'></div>
            <div class='chat_type'>
                <input class='chat_input' type='text' placeholder='Type something...'/>
                <div class='chat_send'>Send</div>
            </div>
        </div>


        <!-------------------------------- chat screen (single chat) -------------------------------->
        <div id='singleChatScreen' class='chatScreen' data-convoId='' data-participants=''>
            <div class='screen_top'>
                <div class='goBack'></div>
                <div class='screen_top_text_container'>
                    <div class='screen_top_text slidable'>jack</div>
                </div>
                <!--<div id='chat_title_profile' style='background-image: url(/images/profile.png)' class='top_right_pic center-cropped'></div>-->
           </div>
            <div class='chat_log scrollable'></div>
            <div class='chat_type'>
                <input class='chat_input' type='text' placeholder='Type something...'/>
                <div class='chat_send'>Send</div>
            </div>
        </div>





        <!-------------------------------- messages screen ------------------------------------>
        <div id='messageScreen' class='tabScreen' style="">
            <div class='screen_top'>
                <div class='screen_top_text_container'>
                    <div class='screen_top_text slidable'>Messages</div>
                </div>
            </div>

            <div id='pm_list_container' class='screen_body'>
                <div class='search_container'>
                    <input type='text' class='search_box absoluteCenter' placeholder='search' />
                </div>

                <div id='pm_list' class='scrollable'>
                    <!----------------------------- template -----------------------------
                    <div class='pm_container' data-convoId=''>
                        <div class='pm_date'>7:15 PM</div>
                        <div class='pm_pic center-cropped' style='background-image: url("/images/people/3.jpg")'></div>
                        <div class='pm_content'>
                            <div class='pm_username slidable'>pollutioncat</div>
                            <div class='pm_preview slidable'>merry chrismadsf asdf adsf asdf sdf asdf asdf as guys xd</div>
                        </div>
                    </div> -->

                </div>
            </div>
        </div>





        <!------------------- Popup (bottom) template -------------------->
        <div id='popup_upload_photo' class='popup'>
            <div class='popup_title'>Change Profile Picture</div>
            <div id='browse_photo' class='popup_option'>Browse</div>
            <div class='popup_cancel'>Cancel</div>
        </div>

        <!------------------- Popup (middle) template -------------------->
        <div id='popup2_create_room' class='popup2 absoluteCenter'>
            <div class='popup2_title'>Create a room</div>
            <div class='popup2_content'>
                <input id='create_room_name' class='popup2_input' type='text' placeholder='Room name'/>
                <input id='create_room_desc' class='popup2_input' type='text' placeholder='Room description' style='margin-top: 15px; margin-bottom: 5px;'/>
            </div>
            <div class='popup2_button_container'>
                <div class='popup2_cancel popup2_button'>Cancel</div>
                <div id='confirm_room_creation' class='popup2_option popup2_button'>Create</div>
            </div>
        </div>

        <!-- room name taken -->
        <div id='popup2_room_name_taken' class='popup2 absoluteCenter'>
            <div class='popup2_title'>Oops</div>
            <div class='popup2_content'>
                Room name is taken, please try another!
            </div>
            <div class='popup2_button_container'>
                <div class='popup2_cancel popup2_button' style='width: 100%'>Okay</div>
            </div>
        </div>

        <div class='overlay'></div>

    </div>

</div>




<!----------------------------------------------- UPLOAD POPUP ------------------------------------------>
<div id='photoUpload' class='pop' safe='false' level='1'>
    <div class='pop_title'>
        <div class='pop_title_text'>Upload Photo</div>
        <div class='pop_close'>
            <div class='pop_close_img center-cropped'></div>
        </div>
    </div>
    <div class='pop_body' id='photoUpload_body'>
        <div id="photoUpload_preview"></div>
        <form id='photoUpload_browse' action='/api/upload' method="post" enctype="multipart/form-data">
            <input type="file" class="browsePhotos" name="photos" style="display:none;" />
        </form>
    </div>
</div>


<div class='overlay_big'></div>
<div class='overlay_big2'></div>


<!------ Preload images ------>
<div style='display: none'>
    <img src="/images/bottom/profile.png"/>
    <img src="/images/bottom/profile_active.png"/>
    <img src="/images/bottom/room.png"/>
    <img src="/images/bottom/room_active.png"/>
    <img src="/images/bottom/message.png"/>
    <img src="/images/bottom/message_active.png"/>
    <img src="/images/bottom/message_hover.png"/>
</div>







<script>
    var myObj = { guest: <%=guest%>, username: "<%=username%>", profile_pic: '<%=profile_pic%>', status: '<%=status%>', photo: "<%=photo%>".split(','), name: '<%=name%>', major: '<%=major%>', school: '<%=school%>', interest: '<%=interest%>', about_me: '<%=about_me%>', view: parseInt('<%=view%>'), _id: '<%=_id%>' };
</script>
<script src='/socket.io/socket.io.js'></script>
<script type="text/javascript" src="/js/plugins/jquery.min.js"></script>
<script type="text/javascript" src="/js/plugins/jquery-ui.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.autosize.min.js"></script>
<script type="text/javascript" src="/js/plugins/underscore.js"></script>
<script type="text/javascript" src="/js/plugins/beautify.js"></script>
<script type="text/javascript" src="/js/plugins/time.js"></script>
<script type="text/javascript" src="/js/plugins/emo.js"></script>
<script type="text/javascript" src="/js/standard.js"></script>
<script src="/js/index.js"></script>


</body>
</html>