/* --- Some standard ---
separator line              : #eaeaea
general gray background     : #f4f4f4
gray text                   : #848484
placeholder                 : #999999 (lighter than gray text)
redish purple               : #f97c7c
pink hover                  : #fff7f7
*/


body{
    font-family: "Roboto", "Helvetica Neue";
}

*:focus {
    outline: 0;
}

#wrapper{
    background-image: url('/images/bg3.jpg');
    width: 100%;
    height: 100%;
    position: fixed;
    color: white;
    text-align: center;
    font-weight: 300;
}

#chatContainer{
    width: 350px;
    height: 560px;
    border-radius: 20px;
    overflow: hidden;
    background: rgba(255,255,255,0.15);
}

#loginScreen{
    padding: 20px;
    height: 100%;
    border-radius: inherit;
    position: absolute;
}

#login_title{
    font-size: 60px;
    height: 73px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: inline-block;
}

#logo{
    background-image: url(/images/logo.png);
    height: 73px;
    width: 73px;
    float: left;
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center 15px;
    margin-left: 5px;
}

#login_subtitle{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 22px;
    line-height: 20px;
}

#loginScreen input::-webkit-input-placeholder {
   color: white; opacity: 1;
}

#loginScreen input:-moz-placeholder { /* Firefox 18- */
   color: white; opacity: 1;
}

#loginScreen input::-moz-placeholder {
  color: white; opacity: 1;
}
#loginScreen input:-ms-input-placeholder {
   color: white; opacity: 1;
}

.login_input{
    border-radius: 1000px;
    width: 300px;
    height: 50px;
    border: 1px solid white;
    margin-bottom: 18px;
    line-height: 100%;
    font-size: 18px;
    background: transparent;
    color: inherit;
    font-weight: 300;
    text-align: center;
    font-family: "Roboto";
}

#loginButton{
    border: 0;
    background: #1cbc5f;
    cursor: pointer;
}
#loginButton:hover{
    background: #27AE61;
}

#joinButton{
    border: 0;
    background: #e0a000;
    cursor: pointer;
    display: none;
}
#joinButton:hover{
    background: #d39400;
}

#misc{
    font-size: 16px;
}

#register:hover{
    cursor: pointer;
    text-decoration: underline;
}




/* ----------------- tabs ----------------- */

.tab{
    border-top: 1px solid #eaeaea;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    width: 100%;
    height: 57px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: white;
    overflow: hidden;
    display: none;
    z-index: 2;
}

.tab_option{
    float: left;
    width: 33.3%;
    height: 100%;
    position: relative;
}

.tab_option:hover{ cursor: pointer; }

.tab_option_pic{
    left: 0; right: 0; top: 0;
    position: absolute;
    background-size: auto 24px;
    background-repeat: no-repeat;
    background-position: center 8px;
    width: 100%;
    height: 70%;
}

.tab_option_text{
    left: 0; right: 0; bottom: 6px;
    position: absolute;
    text-align: center;
    width: 100%;
    color: #848484;
    font-size: 11px;
}

#tab_profile[data-type='active'] .tab_option_pic{ background-image: url("/images/bottom/profile_active.png") !important; }
#tab_profile[data-type='active'] .tab_option_text{ color: #f97c7c !important; }

#tab_room[data-type='active'] .tab_option_pic{ background-image: url("/images/bottom/room_active.png") !important; }
#tab_room[data-type='active'] .tab_option_text{ color: #f97c7c !important; }

#tab_message[data-type='active'] .tab_option_pic{ background-image: url("/images/bottom/message_active.png") !important; }
#tab_message[data-type='active'] .tab_option_text{ color: #f97c7c !important; }


/* ----------------- tab screens ----------------- */

/* overall */

.tabScreen{
    background: white;
    border-radius: inherit;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}


/* general - top */

.screen_top{
    position: absolute;
    top: 0; left: 0; right: 0;
    height: 50px;
    line-height: 50px;
    background: #f97c7c;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    color: white;
}

.screen_top_text_container{
    width: 250px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.screen_top_text{
    font-weight: 400;
}

.goBack{
    position: absolute;
    top: 16px;
    left: 16px;
    background-image: url(/images/back.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    opacity: 0.8;
}

.goBack:hover{
    cursor: pointer;
    opacity: 1;
}

.top_right_pic{
    position:absolute;
    top: 15px; right: 16px; bottom: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.top_right_text{
    position:absolute;
    cursor: pointer;
    top: 0px;
    right: 16px;
    font-weight: 400;
}

/* general - body */

.screen_body{
    position: absolute;
    left: 0; right: 0;
    top: 50px;
    bottom: 58px;
    background: #f4f4f4;
}


/* Profile screen */

#profile_body{
    position: relative;
}

#logout{
    background: white;
    color: #f97c7c;
    line-height: 40px;
    font-weight: 300;
    font-size: 16px;
    cursor: pointer;
}
#logout:active{
    color: #f7b2b2;
}

.section{
    background: white;
    margin-top: 15px;
    overflow: hidden;
    font-size: 14px;
}

.screen_body .section:last-child{
    margin-bottom: 15px;
}

.option{
    overflow: hidden;
    position: relative;
}

.option_name{
    float: left;
    text-align: right;
    color: #848484;
    width: 28%;
    direction:rtl;
    text-indent: 17px;
    padding-top: 15px;
}

.option_value{
    float: left;
    text-align: left;
    color: black;
    width: 62%;
    border-bottom: 1px solid #eaeaea;
    line-height: 18px;
    min-height: 16px;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
}

.screen_body .option:last-child .option_value{
    border-bottom: 0;
}

#option_pic_preview{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background: url(/images/default_profile_pic.png);
}

#option_pic{
    position: absolute;
    top: 15px;
    right: 15px;
    color: #f97c7c;
    font-size: 14px;
    cursor: pointer;
    display: none;
}




.option_edit{
    position: absolute;
    top: 10px;
    right: 5px;
    width: 30px;
    height: 30px;
    display: none;
    background: url(/images/edit.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center center;
}

.edit_field{
    border: 0px solid #848484;
    border-radius: 5px;
    width: 100%;
    min-height: 20px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
    -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
    box-sizing:        border-box;   /* Everything else */
    margin-left: -1px;
    margin-top: -2px;
}

input.edit_field{
    /*text-indent: 5px;
    height: 32px;
    line-height: 30px;*/
}

textarea.edit_field{
    resize: none;
    /*padding: 5px;*/
}

.textarea-transition{
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}


.edit_button{
    float: right;
    border-radius: 5px;
    width: 60px;
    line-height: 30px;
    height: 30px;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 400;
    cursor: pointer;
}

.edit_save{
    border: 1px solid #f97c7c;
    background: #f97c7c;
    color: white;
    display: none;
}

.edit_cancel{
    border: 1px solid #848484;
    background: white;
    color: #848484;
    display: none;
}


/* Room screen */

#room_body, #pm_list_container{
    background: white;
}

.search_container{
    height: 38px;
    background: #f4f4f4;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #eaeaea;
}

.search_box{
    border: 0px solid #ededed;
    border-radius: 0px;
    width: 96%;
    height: 63%;
    color: black;
    text-align: left;
    font-weight: 300;
    font-size: 13px;
    text-indent: 23px;
    background-image: url("/images/magnifier.png");
    background-size: auto 60%;
    background-repeat: no-repeat;
    background-position: 6px center;
}

#room_list, #pm_list{
    overflow: hidden;
    height: 414px;
}

.room_container, .pm_container{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #eaeaea;
    background: white;
    overflow: hidden;
    position: relative;
}
.room_container:hover, .pm_container:hover{
    cursor: pointer;
    background: #fff7f7;
}

.room_online_count, .pm_date{
    color: #f97c7c;
    font-size: 12px;
    position: absolute;
    top: 6px;
    right: 8px;
}

.room_pic, .pm_pic{
    float: left;
    margin: 15px;
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

.room_content, .pm_content{
    float: left;
    margin: 15px;
    margin-left: 0;
    height: 50px;
    width: 255px;
    text-align: left;
    overflow: hidden;
}

.room_name, .pm_username{
    color: black;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    height: 30px;
}

.room_desc, .pm_preview{
    color: #848484;
    font-size: 12px;
    line-height: 20px;
    height: 20px;
}

.chatScreen{
    border-radius: inherit;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}

.chat_type{
    position: absolute;
    bottom: 0; left: 0; right: 0;
    background: white;
    height: 50px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.chat_input{
    float: left;
    height: 50px;
    line-height: 100%;
    border: 0;
    font-family: inherit;
    font-size: 16px;
    font-weight: 300;
    padding-left: 28px;
    width: 280px;
    color: black;
}

.chat_send{
    float: right;
    color: #f97c7c;
    line-height: 50px;
    width: 70px;
    cursor: pointer;
}

.chat_log{
    position: absolute;
    -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
    -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
    box-sizing:        border-box;   /* Everything else */
    top: 50px; bottom: 50px;
    left: 0; right: 0;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 14px;
    overflow: hidden;
}

.single_message{
    width: 100%;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
}

.message_person{
    width: 44px;
    overflow: hidden;
}

.single_message[data-type="other"] .message_person{
    float: left;
}

.message_pic{
    border-radius: 500px;
    height: 44px;
    width: 44px;
    cursor: pointer;
}

.message_sender{
    font-size: 10px;
    margin-top: 2px;
    /*text-transform: capitalize;*/
}

.single_message[data-type="other"] .message_bubble{
    background: white;
    margin-top: 4px;
    border-radius: 10px;
    width: 260px;
    color: #7c7c7c;
    float: right;
    padding: 10px;
    padding-left: 13px;
    padding-right: 13px;
    -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
    -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
    box-sizing:        border-box;   /* Everything else */
    text-align: left;
    font-size: 14px;
    position: relative;
    line-height: 18px;
}

.single_message[data-type="other"] .message_arrow{
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right:6px solid white;
    position: absolute;
    left: -6px;
}

.single_message[data-type="me"] .message_person{
    float: right;
}

.single_message[data-type="me"] .message_bubble{
    background: white;
    margin-top: 4px;
    border-radius: 10px;
    width: 260px;
    color: #7c7c7c;
    float: left;
    padding: 10px;
    padding-left: 13px;
    padding-right: 13px;
    -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
    -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
    box-sizing:        border-box;   /* Everything else */
    text-align: left;
    font-size: 14px;
    position: relative;
    line-height: 18px;
}

.single_message[data-type="me"] .message_arrow{
    width: 0px;
    height: 0px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid white;
    position: absolute;
    right: -6px;
}

#profilePreviewScreen{
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: inherit;
    position: absolute;
}

#profilePreviewContainer{
    position: absolute;
    top: 0; bottom: 50px;
    left: 0; right: 0;
    overflow: hidden;
}

#briefProfile{
    padding-top: 25px;
}

#profilePic{
    border-radius: 1000px;
    border: 2px solid white;
    width: 130px;
    height: 130px;
    margin-left: auto; margin-right: auto;
    margin-bottom: 15px;
    cursor: pointer;
}

#profileUsername{
    margin-left: auto; margin-right: auto;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    /*text-transform: capitalize;*/
}

#profileStatus{
    margin-left: auto; margin-right: auto;
    font-size: 13px;
    margin-bottom: 20px;
    -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
    -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
    box-sizing:        border-box;   /* Everything else */
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 200;
    line-height: 18px;
    font-style: italic;
}

#profileDetail{
    width: 100%;
    margin-top: 0px;
}

.profileOption{
    width: 100%;
    overflow: hidden;
    padding-top: 13px;
    line-height: 20px;
    position: relative;
    color: white;
    font-size: 14px;
}

.P_option_label{
    float: left;
    width: 30%;
    text-align: right;
    direction: rtl;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(255,255,255,0.7);
}

.P_option_value{
    box-sizing: border-box;
    margin-left: 20px;
    min-height: 34px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    padding-bottom: 13px;
    float: left;
    text-align: left;
    width: 56%;
}

.P_option_placeholder{
    color: rgba(255,255,255,0.4);
}

#profileDetail .profileOption:last-child .P_option_value{
    border-bottom: 0;
}

#profileChat{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background: white;
}

#profileChat_button{
    width: 58px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}
#profileChat_button:hover #profileChat_image{
    background-image: url('/images/bottom/message_hover.png');
}

#profileChat_image{
    float: left;
    margin-top: 15px;
    width: 18px;
    height: 18px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url('/images/bottom/message_active.png');
}

#profileChat_text{
    float: right;
    color: #f97c7c;
    text-align: right;
}




/* ================= messages screen ==================== */

/* The css for single message list is defined together with #room_list section, ctrl+F that to see them */
.pm_date{
    color: #848484;
}

/*.pm_username:first-letter{
    text-transform: capitalize;
}*/

#pm_list_empty{
    width: 300px;
    height: 200px;
    font-weight: 300;
    line-height: 24px;
    opacity: 0.3;
    color: black;
}

#pm_list_empty_pic{
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-image: url(/images/empty_convo.png);
    width: 200px;
    height: 150px;
    opacity: 0.3;
}

#pm_list_empty_title{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
}

#pm_list_empty_desc{
    font-size: 14px;
}


