
#photoUpload{
    background: white;
    width: 450px;
    height: 300px;
    overflow: hidden;
    display: none;
}

#photoUpload_body{
    overflow: auto;
    width: 430px;
    padding-left: 10px;
}

#photoUpload_options{
    margin-left: auto;
    margin-right: auto;
    width: 345px;
    margin-top: 40px;
    overflow: hidden;
}

#photoUpload_browse, #photoUpload_camera{
    text-align: center;
    width: 150px;
}

#photoUpload_browse{
    /*float: left;*/
    margin-left: auto;
    margin-right: auto;
}
/*
#photoUpload_camera{
    float: right;
}*/

.photoUpload_imgWrapper{
    height: 140px;
    width: 140px;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    margin: 0 auto;
    cursor: pointer;
}
.photoUpload_imgWrapper:hover{
    background: #F0F0F0;
}

.photoUpload_img{
    width: 100px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    opacity: 0.5;
}

#photoUpload_preview{
    width: 100%;
    overflow: hidden;
}

.photoUpload_preview_single{
    float: left;
    width: 430px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.photoUpload_thumb{
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.photoUpload_descWrapper{
    width: 100%;
    height: 80px;
    margin-top: 10px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.photoUpload_desc{
    border-radius: inherit;
    padding: 5px;
    border: 0px;
    width: 100%;
    height: 99%;
    resize: none;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    overflow: auto;
    background: transparent;
}

.photoUpload_saveWrapper{
    width: 100%;
    float: left;
    overflow: hidden;
}

.photoUpload_save{
    float: right;
    font-size: 13px;
    cursor: pointer;
    color: #848484;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    text-align: center;
    width: 70px;
    line-height: 25px;
    height: 27px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    margin-right: 10px;
}

.photoUpload_text{
    font-weight: 400;
    color: #585858;
    margin-top: 8px;
    font-size: 18px;
}

.photoUpload_darken{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
}

.photoUpload_progressBar{
    border-radius: 1000px;
    height: 11px;
    border: 4px solid #707070;
    background: #3D3D3D;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.photoUpload_currentProgress{
    background: #E0E0E0;
    height: 100%;
    border-radius: inherit;
    width: 0px;
}

.photoUpload_done{
    display: none;
    color: white;
    font-size: 14px;
}