/** Global CSS Sheet, should be included in all webpage **/

/* --- Some standard ---
separator line              : #eaeaea
general gray background     : #f4f4f4
gray text                   : #848484
placeholder                 : #999999 (lighter than gray text)
redish purple               : #f97c7c
*/


html {
    height: 100%;
    overflow: hidden;
    padding:0;
    margin:0;
}

body {
    overflow: hidden;
    height: 100%;
    padding:0;
    margin:0;
    font-family: "Roboto";
    font-weight: 300;
    background: url(/images/bg/bg8.jpg) repeat center center;
    background-size: cover;
}

div {
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

b{
    font-weight: 500;
}

.animate_duration_short{
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    -ms-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    animation-duration: 0.4s;
}

.animate_duration_long{
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}


textarea, input{
    font-family: inherit;
    color: inherit;
    overflow: hidden;
}

.dot {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.absoluteCenter{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}


*.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
    -ms-user-select: none;
    user-select: none;
}

.separator {
    background: white;
    width: 100%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.separator2 {
    width: 100%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  /* IE10+ */
    background-image: -ms-linear-gradient(left, #ffff00 0%, #05C1FF 50%, #ffff00 100%);
/* Mozilla Firefox */
    background-image: -moz-linear-gradient(left, #ffff00 0%, #05C1FF 50%, #ffff00 100%);
/* Opera */
    background-image: -o-linear-gradient(left, #ffff00 0%, #05C1FF 50%, #ffff00 100%);
/* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #ffff00), color-stop(50, #05C1FF), color-stop(100, #ffff00));
/* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(left, #ffff00 0%, #05C1FF 50%, #ffff00 100%);
/* W3C Markup */
    background-image: linear-gradient(to right, #ffff00 0%, #05C1FF 50%, #ffff00 100%);
}

.separator3{
    width: 100%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
background: rgba(145,232,66,1);
background: -moz-linear-gradient(left, rgba(145,232,66,1) 0%, rgba(210,255,82,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(145,232,66,1)), color-stop(100%, rgba(210,255,82,1)));
background: -webkit-linear-gradient(left, rgba(145,232,66,1) 0%, rgba(210,255,82,1) 100%);
background: -o-linear-gradient(left, rgba(145,232,66,1) 0%, rgba(210,255,82,1) 100%);
background: -ms-linear-gradient(left, rgba(145,232,66,1) 0%, rgba(210,255,82,1) 100%);
background: linear-gradient(to right, rgba(145,232,66,1) 0%, rgba(210,255,82,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91e842', endColorstr='#d2ff52', GradientType=1 );
}

.separator4{
    width: 100%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;

background: -moz-linear-gradient(45deg, rgba(0,51,51,1) 0%, rgba(5,193,255,1) 50%, rgba(0,51,51,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0,51,51,1)), color-stop(50%, rgba(5,193,255,1)), color-stop(100%, rgba(0,51,51,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(45deg, rgba(0,51,51,1) 0%, rgba(5,193,255,1) 50%, rgba(0,51,51,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(45deg, rgba(0,51,51,1) 0%, rgba(5,193,255,1) 50%, rgba(0,51,51,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(45deg, rgba(0,51,51,1) 0%, rgba(5,193,255,1) 50%, rgba(0,51,51,1) 100%); /* ie10+ */
background: linear-gradient(45deg, rgba(0,51,51,1) 0%, rgba(5,193,255,1) 50%, rgba(0,51,51,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003333', endColorstr='#003333',GradientType=1 ); /* ie6-9 */
opacity: 0.9;
}

.dot {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

::-webkit-input-placeholder {
    color: #999999;
}

:-moz-placeholder {
 /* Firefox 18- */
    color: #999999;
}

::-moz-placeholder {
  /* Firefox 19+ */
    color: #999999;
}

:-ms-input-placeholder {
    color: #999999;
}

.DivHelper {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input, textarea {
    font-family: Roboto;
    font-weight: 300;
    background: white;
}

.clear {
    clear: both;
}

.center-cropped{ /* for background-image */
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center center;
}

.slidable{
    white-space: nowrap;
    text-overflow: ellipsis;
}
.slidable:hover{
    text-overflow: clip;
}

.popup{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    box-sizing: border-box;
    margin: 7px;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    overflow: hidden;
    z-index: 4;
    display: none;
}

.popup_title{
    color: #848484;
    font-size: 12px;
    background: white;
}

.popup_option{
    border-top: 1px solid #f4f4f4;
    font-size: 16px;
    color: #007AFF;
    background: white;
    cursor: pointer;
}

.popup div:nth-last-child(2){
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.popup_cancel{
    font-size: 16px;
    margin-top: inherit;
    box-sizing: border-box;
    border-radius: inherit;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    color: #f97c7c;
    background: white;
    font-weight: 400;
    cursor: pointer;
}

.popup_option:hover, .popup_cancel:hover{
    background: #f5f5f5;
}

.overlay {
    display: block;
    position: absolute;
    top: -10px; bottom: -10px;
    left: -10px; right: -10px;
    background-color: black;
    z-index: 2;
    -moz-opacity: 0.3;
    opacity: 0.3;
    filter: alpha(opacity=30);
    display: none;
}

.overlay_big{
    display: block;
    position: absolute;
    top: -10px; bottom: -10px;
    left: -10px; right: -10px;
    background-color: black;
    z-index: 99;
    -moz-opacity: 0.88;
    opacity: 0.88;
    filter: alpha(opacity=88);
    display: none;
}

.overlay_big2 { /* higher z-index than .overlay */
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 110%;
    background-color: black;
    z-index: 102;
    -moz-opacity: 0.8;
    opacity: 0.8;
    filter: alpha(opacity=80);
    display: none;
}



.pop{
    overflow: hidden;
    z-index: 100;
    margin: auto;
    position: absolute;
    top: -50px;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    background: white;
    width: 450px;
}

.pop[level='1']{ z-index: 100; }
.pop[level='2']{ z-index: 102; }

.pop_title{
    width: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    overflow: hidden;
background: rgba(247,247,247,1);
background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(246,246,246,1) 47%, rgba(240,237,240,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,247,247,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(240,237,240,1)));
background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(246,246,246,1) 47%, rgba(240,237,240,1) 100%);
background: -o-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(246,246,246,1) 47%, rgba(240,237,240,1) 100%);
background: -ms-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(246,246,246,1) 47%, rgba(240,237,240,1) 100%);
background: linear-gradient(to bottom, rgba(247,247,247,1) 0%, rgba(246,246,246,1) 47%, rgba(240,237,240,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f0edf0', GradientType=0 );
}

.pop_title_text{
    float: left;
    font-size: 12px;
    color: black;
    font-weight: 300;
    line-height: 34px;
    margin-left: 13px;
}

.pop_close{
    float: right;
    border-radius: 5px;
    margin: 8px;
    background: #f97c7c;
    cursor: pointer;
}
.pop_close:hover{
    background: #ed5e5e;
}

.pop_close_img{
    width: 12px;
    height: 12px;
    margin: 3px;
    background-image: url(/images/close.png);
    border-radius: inherit;
}

.pop_body{
    width: 100%;
    overflow: auto;
}

.pop_delete_text{
    font-size: 12px;
    font-weight: 500;
    text-indent: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pop_footer{
    width: 100%;
    overflow: hidden;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
}

.popButton[data-default='true']{
    border: 1px solid #f97c7c;
    background: #f97c7c;
    color: white;
}

.pop_delete, .pop_save{
    float: right;
    margin-right: 5px;
}

.pop_cancel{
    float: right;
    margin-right: 8px;
}

/* ======= popup (middle & within iOS) ====== */
.popup2{
    width: 300px;
    border-radius: 8px;
    z-index: 4;
    background: white;
    display: none;
    overflow: hidden;
}

.popup2_title{
    color: black;
    font-weight: 500;
    font-size: 16px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.popup2_content{
    color: black;
    font-weight: 300;
    font-size: 14px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.popup2_button_container{
    color: #007aff;
    font-weight: 300;
    font-size: 14px;
    border-top: 1px solid #eaeaea;
    width: 100%;
    overflow: hidden;
}

.popup2_button{
    width: 50%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    float: left;
    box-sizing: border-box;
}

.popup2_button:hover{
    cursor: pointer;
    background: #f6f6f6;
}

.popup2_option{
    font-weight: 400;
    border-left: 1px solid #dbdbdb;
}

.popup2_input{
    font-size: inherit;
    font-weight: inherit;
    border: 0;
    border-bottom: 1px solid #bcbcbc;
    border-radius: 0px;
    height: 35px;
    text-indent: 1px;
    width: 250px;
    background: white;
}


